---
import Header from "../components/Header.astro";
import EmoticonList from "../components/EmoticonList.astro";
import { staticEmoticons } from "../data/emoticons.ts";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link href="/favicon.svg" rel="icon" type="image/svg+xml" />
    <meta content="width=device-width" name="viewport" />
    <meta content={Astro.generator} name="generator" />
    <title>Astro</title>
  </head>
  <body>
    <Header />
    <EmoticonList emoticons={staticEmoticons} />
  </body>
</html>

<style>
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f3f4f6;
    color: #333;
  }

  .inline-logo {
    height: 1.5rem;
  }
</style>
