---
import Social from "./Social.astro";
---

<header>
  <h1>Copymoticon</h1>
  <p>A no-nonsense site to copy emoticons to the clipboard.</p>
  <Social />
</header>

<style>
  header {
    background-color: #673ab7;
    color: #fff;
    padding: 1rem;
    text-align: center;
  }

  header h1 {
    margin: 0;
    font-size: 2rem;
  }

  header p {
    margin: 0.5rem 0 0;
    font-size: 1rem;
  }
</style>
