---

---

<div class="social-container">
  <a href="https://github.com/conways-glider/copymoticon">
    <img src="/github.svg" class="inline-logo" alt="GitHub" /></a
  >
  <a href="https://bsky.app/profile/conways-glider.bsky.social">
    <img src="/bluesky.svg" class="inline-logo" alt="Bluesky" /></a
  >
</div>

<style>
  .social-container {
    display: flex;
    justify-content: center;
    margin: 1rem 0 0;
  }

  .inline-logo {
    height: 1.5rem;
    margin: 0 0.5rem;
  }
</style>
